/* Reset.css */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* 일반적인 문법 */
}

/* Reset margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Form elements */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Responsive media */
embed,
iframe,
object,
video {
  max-width: 100%;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Remove table spacing */
td,
th {
  padding: 0;
  border: none;
}

/* Remove outline on focus */
:focus {
  outline: none;
}

/* Additional resets can be added as needed */
* {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}